body {text-align: center;}
canvas {border: 1px solid #000;}

#container {
  position: relative;
}

#sketch {
  position: absolute; top: 1px; left: 1px;
}

#wrapper {
  width: 1000;
  text-align: center;
}

#toolbar {
  float: left;
  width: 350px;
}

#main {
  float: left;
  text-align: center;
  padding-left: 10px;
}
