body {text-align: center;}

#chart {
  border: 1px solid #000;
}

#volume_chart {
  border: 1px solid #000;
}

#container {
  position: relative;
}

#sketch {
  position: absolute; top: 1px; left: 1px;
}

#wrapper {
  width: 1000px;
  text-align: center;
}

#switcher {
  float: left;
  margin-left: 20px;
}

#rentageek {
  margin-right: 160px;
}

#toolbar {
  float: left;
  width: 350px;
}

#main {
  float: left;
  text-align: center;
  padding-left: 10px;
}

#pi_template {
  display: none;
}

#po_template {
  display: none;
}

#dow_30 {
  width: 175px;
}

#nasdaq_100 {
  width: 175px;
}

#favorites_list {
  width: 178px;
}